<form id="ccss-container" autocomplete="off" class="customCssSettings" onsubmit="event.preventDefault()" onload="onload()">
    {{#if isGM}}
        <h2>{{localize "CCSS.stylesheet.globalStyles"}}</h2>
        <p class="notes">{{localize "CCSS.stylesheet.globalStylesHint"}}</p>
        
        <section class="stylesheet-editor" id="ccss-top">
            <textarea name="stylesheet" class="stylesheet">
            {{~" "}}{{{stylesheet}}}{{" "~}}
            </textarea>
        </section>
    
    {{/if}}
        <h2>{{localize "CCSS.stylesheet.userStyles"}}</h2> 
        <div id="ccss-sep"></div>
        <p class="notes">{{localize "CCSS.stylesheet.userStylesHint"}}</p> 
    
        <section class="stylesheet-editor" id="ccss-bottom">
            <textarea name="userStylesheet" class="userStylesheet">
            {{~" "}}{{{userStylesheet}}}{{" "~}}
            </textarea>
        </section>
    
    
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "CCSS.stylesheet.btnSave"}}
        </button>
    </form>
    